//list、listtwo 共用

.love {
    //H2 猜你喜欢
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    background-color: #ec9eb8;
    margin: 10px 120px;
    padding: 5px;
    border-radius: 20px;
}

.body {
    padding: 15px 10px;

    .goright {
        //name
        width: 240px;
        height: 100px;
        float: right;
        padding: 0px 5px;
        background: rgb(250, 247, 247);

        .price {
            //价格
            float: right;
            padding: 30px 0px;
        }
        .name{
            width: 240px;
            height: 42px;
            // white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

       .van-tag {
        padding: .2em .5em;
        margin-top: 5px;
       }

    }

}