.shopcar {
    height: 100%;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;

    .noList {
        flex: 1;

        .message {
            width: 100%;
            height: 40px;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;

            .icon {
                font-size: 24px;
            }
        }
    }

    .button-group {
        height: 50px;

        .removeAll {
            float: right;
            margin: 9px 0;
            margin-right: 5px;
        }
    }

    .swipeCell {
        margin-bottom: 5px;

        .card {
            width: 100%;
            display: flex;
            justify-content: space-around;
            background: rgb(255, 253, 253);
            padding: 4px 0px;

            .image {
                width: 70px;
                height: 90px;
            }

            .center {
                width: 250px;

                .name {
                    width: 220px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .bottom {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin-top: 20px;

                    .price {
                        width: 60px;
                    }
                }
            }
        }

        .van-swipe-cell__right {
            height: 100%;

            .delate {
                height: 100%;
            }
        }
    }

    .submit-bar {
        //提交订单遮挡内容
        margin-top: 12%;
        ;
    }

    .van-checkbox {
        margin-left: 5px;
    }

    .van-submit-bar__bar {
        margin-bottom: 13.5%;

    }
}